doctype html
html
    head
        style 
            include styles/style.css
        title= pageTitle 
    body.index
        div.container
            h1 Welcome to Great Grand Festival! 
            p To enter please 
                a(href="/signin") Sign In
            p Not a User? please 
                a(href="/signup") Sign Up 