doctype html
html
    head
        style 
            include styles/style.css
        title PASSWORD CHANGE
    body.index(bgColor="grey")
        div 
            form.main(action="/change_pwd" method="post")
                h1.heading Set New Password
                div
                    input.input-field(name="username" placeholder="Username", value=`${session_user}`, readonly)
                div
                    input.input-field(name="old-password" type="password" placeholder="Old Password")
                div
                    input.input-field(name="new_password" type="password" placeholder="New Password")
                div
                    input.input-field(name="cpassword" type="password" placeholder="Confirm Password")
                div
                    button.input-field(type="submit") Set Password

