doctype html
html
    head
        style 
            include styles/style.css
        title= pageTitle
    body.index(bgColor="grey")
        div 
            form.main(action="/signup" method="post")
                h1.heading Sign Up
                div
                    input.input-field(name="username" placeholder="Username")
                div
                    input.input-field(name="password" type="password" placeholder="Password")
                div
                    input.input-field(name="cpassword" type="password" placeholder="Confirm Password")
                div
                    button.input-field(type="submit") Sign Up